<ul>
  <li>First Name <%= @employee.first_name %></li>
  <li>Last Name <%= @employee.last_name %></li>
  <li>Email <%= @employee.email %></li>
  <li>Social Security Number: <%= @employee.ssn %></li>
  <li>Birthdate: <%= @employee.birthdate %></li>
</ul>

<%= link_to "Edit", "/employees/#{@employee.id}/edit" %>
<%= link_to "Delete (a.k.a. fire)", "/employees/#{@employee.id}", method: :delete  %>